
.main-heading{
    color: rgb(39 65 131 / 91%);
    font-size: 25px;
    text-align: center;
    margin: 20px;
    font-weight: 700;
}
.red-btn{
    background: red;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 100px;
    margin: 15px;
}
.green-btn{
    background: #198754;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 100px;
    margin: 15px;

}
.count-heading{
    margin: 15px;
    color: rgb(66, 152, 217);
    font-size: 20px;
    font-weight: 700;
}